.social-icons{
    display: none;
}

.navbar{
    grid-template-columns: 1fr;
    gap: 1.2rem;
}

.navbar img,
.navbar ul{
    justify-self: center;
}

.article-container {
    grid-template-columns: repeat(2, 1fr);
}

@media(max-width: 600px) {
    .article-container, 
    .hero-container,
    .footer-container,
    .blog-container
    {
        grid-template-columns: 1fr;
    }

    .footer-container .footer-cr{
        grid-column: 1;
    }

   .footer-container > *:not(:last-child) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1.5rem;
    }
}
