@import url('https://fonts.googleapis.com/css2?family=Lato&family=Varela+Round&display=swap');

:root {
    --primary-color: #e76f51;
    --secondary-color: #2a9d8f;
    --light-color: #f8f9fa;
    --dark-color: #6c757d;
    --purple-color:#9b5dde;
    --max-width: 1100px;
    --red-color:#f87171;
    --blue-color:#3b82f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--light-color);
}

a {
    color: var(--dark-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Varela Round', sans-serif;
    margin: .7rem;
    line-height: 1.3;
}

p {
    margin: .5rem 0;
}

/* utils */
.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    border: none;
    background-color: var(--dark-color);
    color: #fff;
    padding: .4rem 1.6rem;
    text-align: center;
}

.btn-light { background-color: var(--light-color);}
.btn-dark { background-color: var(--dark-color);}
.btn-primary { background-color: var(--primary-color);}

.btn:hover {opacity: 0.8;}

.btn-block {
    display: block;
    width: 100%;
    text-align: center;
}

.bg-primary {background-color: var(--primary-color)!important; color: #fff;}
.bg-secondary {background-color: var(--secondary-color); color: #fff;}
.bg-light {background-color: var(--light-color); color: var(--dark-color);}
.bg-dark {background-color: var(--dark-color); color: #fff; }
.bg-purple{background-color: var(--purple-color); color: #fff;}
.bg-red{background-color: var(--red-color); color: #fff;}
.bg-blue{background-color: var(--blue-color); color: #fff;}


.card {
    background-color: #fff;
    padding: 1rem;
}

.card-primary {
    background-color: var(--primary-color);
    padding: 1rem;
}

.category{
    display: inline-block;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: .0625rem;
    padding: 0.4rem 0.6rem;
    margin-bottom: 0.5rem;
    border-radius: 15px;
}

/* Navbar */
.header{
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 30;

}

.navbar{
    display: grid;
    grid-template-columns: 0.6fr 3fr 2fr;
    padding: 1rem;
    align-items: center;
}
.navbar img{
    width: 65px;
}

.navbar ul{
    display: flex;
    justify-self: start;
}

.navbar ul li a {
    padding: 0.6rem;
    font-weight: bold;
}

.navbar ul li a.active{
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
}

.navbar ul li a:hover{
    background-color: var(--light-color);
    color: var(--primary-color)  ;
    opacity: .7;
}
.navbar .social-icons a:hover{
    color:var(--primary-color);
}
.navbar .social-icons{
    justify-self: end;
}

/* Hero section */
.hero-section{
    background-color: #333;
    color: #fff;
    position: relative;
}
.hero-section::before{
    content: '';
    background: url(../img/bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.hero-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 60vh;
    align-content: center;
}

.hero-content{
    z-index: 20;
}

.hero-content p{
    margin-bottom: 1rem;
}


/* Articles */

.articles-grid{
    margin-top: 2rem;
}

.article-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.article-content{
    margin: 0.5rem;
}


/* Footer */

.footer{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.3rem;                    
}

.footer-container .footer-cr{
    grid-column: 1 / span 4;
    background-color: #444;
    text-align: center;
    padding: 0.5rem;
}
.footer-image img{
    width: 150px;
}
.footer a {
    color: #fff;
}

.footer-image input[type="email"]{
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.footer-image input[type="submit"]{
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.footer-content ul li{
    padding: 0.5rem 0;
    border-bottom: 1px solid #555;
    width: 90%;
}

.footer-content a:hover{
    color:var(--primary-color);
}

/* Article Blog Page  */
.blog-container{
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin: 2.5rem 0;
    gap: 1.5rem;
}

.blog-container > *:first-child{
    grid-row: 1 / span 3;
}

.blog-card-content ul li{
    padding: 0.5rem 0;
    border-bottom: 1px solid #555;
    width: 90%;
}

.blog-card-content ul li a:hover{
    color: var(--primary-color);
}

.meta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 1rem;
}
